<h4 class="heading">Add Today's Expenses</h4>
<div align="center">
<div class="card " id="settings2">
  <div class="card-content black-text">
  <span class="card-title">Category</span>

</div>
</div>
<div class="card " id="settings1" style="border-left: 5px solid red;">

  <div class="card-content black-text">

 <p align='left'>Food &nbsp<i class="fas fa-utensils"></i>
   <span ng-if="$window.localStorage.getItem('current_currency')==0">&nbsp &#x20B9</span>
   <span ng-if="$window.localStorage.getItem('current_currency')==1">&nbsp &dollar</span>
   <span ng-if="$window.localStorage.getItem('current_currency')==2">&nbsp &pound</span>
   <span ng-if="$window.localStorage.getItem('current_currency')==3">&nbsp &#8364</span>
   <span ng-if="$window.localStorage.getItem('current_currency')==4">&nbsp &yen</span>
   <input type="number" placeholder=0.00 ng-model="manage.food"></p>

</div>
</div>
<div class="card " id="settings1" style="border-left: 5px solid green;">
  <div class="card-content black-text">

 <p align='left'>Transport &nbsp<i class="fas fa-bus"></i>
   <span ng-if="$window.localStorage.getItem('current_currency')==0">&nbsp &#x20B9</span>
   <span ng-if="$window.localStorage.getItem('current_currency')==1">&nbsp &dollar</span>
   <span ng-if="$window.localStorage.getItem('current_currency')==2">&nbsp &pound</span>
   <span ng-if="$window.localStorage.getItem('current_currency')==3">&nbsp &#8364</span>
   <span ng-if="$window.localStorage.getItem('current_currency')==4">&nbsp &yen</span>
   <input type="number" placeholder=0.00 ng-model="manage.transport"></p>

</div>
</div>
<div class="card " id="settings1" style="border-left: 5px solid orange;">
  <div class="card-content black-text">

 <p align='left'>Grocery &nbsp<i class="fas fa-shopping-cart"></i>
   <span ng-if="$window.localStorage.getItem('current_currency')==0">&nbsp &#x20B9</span>
   <span ng-if="$window.localStorage.getItem('current_currency')==1">&nbsp &dollar</span>
   <span ng-if="$window.localStorage.getItem('current_currency')==2">&nbsp &pound</span>
   <span ng-if="$window.localStorage.getItem('current_currency')==3">&nbsp &#8364</span>
   <span ng-if="$window.localStorage.getItem('current_currency')==4">&nbsp &yen</span>
   <input type="number" placeholder=0.00 ng-model="manage.grocery"></p>

</div>
</div>
<div class="card " id="settings1" style="border-left: 5px solid yellow;">
  <div class="card-content black-text">

 <p align='left'>Entertainment &nbsp<i class="fas fa-film"></i>
   <span ng-if="$window.localStorage.getItem('current_currency')==0">&nbsp &#x20B9</span>
   <span ng-if="$window.localStorage.getItem('current_currency')==1">&nbsp &dollar</span>
   <span ng-if="$window.localStorage.getItem('current_currency')==2">&nbsp &pound</span>
   <span ng-if="$window.localStorage.getItem('current_currency')==3">&nbsp &#8364</span>
   <span ng-if="$window.localStorage.getItem('current_currency')==4">&nbsp &yen</span>
   <input type="number" placeholder=0.00 ng-model="manage.entertainment"></p>

</div>
</div>
<div class="card " id="settings1" style="border-left: 5px solid violet;">
  <div class="card-content black-text">

 <p align='left'>Miscellaneous &nbsp<i class="fas fa-random"></i>
   <span ng-if="$window.localStorage.getItem('current_currency')==0">&nbsp &#x20B9</span>
   <span ng-if="$window.localStorage.getItem('current_currency')==1">&nbsp &dollar</span>
   <span ng-if="$window.localStorage.getItem('current_currency')==2">&nbsp &pound</span>
   <span ng-if="$window.localStorage.getItem('current_currency')==3">&nbsp &#8364</span>
   <span ng-if="$window.localStorage.getItem('current_currency')==4">&nbsp &yen</span>
   <input type="number" placeholder=0.00 ng-model="manage.misc"></p>

</div>
</div>
<div class="card " id="settings1" style="border-left: 5px solid Black;">
  <div class="card-content black-text">

 <p align='left'>Total &nbsp<i class="fas fa-plus"></i>
   <span ng-if="$window.localStorage.getItem('current_currency')==0">&nbsp &#x20B9</span>
   <span ng-if="$window.localStorage.getItem('current_currency')==1">&nbsp &dollar</span>
   <span ng-if="$window.localStorage.getItem('current_currency')==2">&nbsp &pound</span>
   <span ng-if="$window.localStorage.getItem('current_currency')==3">&nbsp &#8364</span>
   <span ng-if="$window.localStorage.getItem('current_currency')==4">&nbsp &yen</span>
   <input type="number" placeholder=0.00 ng-value="manage.food+manage.transport+manage.grocery+manage.entertainment+manage.misc" disabled></p>

</div>
</div>
<button class="waves-effect waves-light green btn" ng-click="manage.addexpenses(manage.food,manage.transport,manage.grocery,manage.entertainment,manage.misc)">Add</button>


</div>
