<h4>Settings</h4>
<div align="center">

            <div class="card " id="settings1">
              <div class="card-content black-text">
                <span class="card-title">Currency</span>
                <input list="Currency"ng-model="manage.sel_curr">

<datalist id="Currency" >
  <option value="INR(&#x20B9)">
  <option value="U.S. Dollar($)">
  <option value="Pound(&pound)">
  <option value="Euro(&#8364)">
  <option value="Yen(&yen)">
</datalist>
<button class="waves-effect waves-light btn"ng-click="manage.changecurr(manage.sel_curr)">Change</button>

              </div>

            </div>
            <div class="card " id="settings1">
              <div class="card-content black-text">
                <span class="card-title">Piechart Color</span>
                <input list="Currency">

          <datalist id="Currency" >
          <option value="INR (&#x20B9) ">
          <option value="U.S. Dollar($)">
          <option value="Pound(&pound)">
          <option value="Euro(&#8364)">
          <option value="Yen(&yen)">
          </datalist>
          <a class="waves-effect waves-light btn">Change</a>

              </div>

            </div>


</div>
